body {
    margin: 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    background: #FAF3FF;
    color: #333;
    font-size: 18px;
    line-height: 30px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #FAF3FF;
    border-bottom: 2px solid #E6D6F5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    z-index: 10;
}
 
.encabezado div a img {
    width: 120px;
    margin-top: 10px;
}
 
.encabezado nav {
    display: flex;
    gap: 15px;
}
 
.encabezado nav a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}
 
#hamburguesa {
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: #61378d;
}
 
.encabezado nav a:hover {
    color: #61378d;
    font-weight: 700;
    transform: translateY(-3px);
}
 
.Boton_Menu {
    display: none;
}
 
@media(max-width: 1000px) {

    #hamburguesa {
        display: block;
    }

    .encabezado nav {
        display: none;
        flex-direction: column;
        background: #FAF3FF;
        width: 100%;
        padding: 20px 0;
        border-top: 2px solid #E6D6F5;
        margin-top: 15px;
    }

    .encabezado nav a {
        font-size: 20px;
        text-align: center;
        width: 100%;
        transition: transform 0.3s ease;
    }

    .encabezado nav.activo {
        display: flex;
    }

    .BotonIR {
        display: none;
    }

    .Boton_Menu {
        display: block;
        width: 150px !important;
        padding: 10px;
        background: #ec680c;
        border: none;
        border-radius: 12px;
        text-decoration: none;
        color: white !important;
        font-size: 17px;
        cursor: pointer;
        margin: 0px auto;
        text-align: center;
    }
}

.BotonIR {
    padding: 8px 14px;
    background: #61378d;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.BotonIR:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
 
/* I */
.cajaInicio {
    background: #ec680c;
    color: white;
    height: 22rem;
    margin: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
 
.cajaInicio img {
    height: 100%;
    width: auto;
    margin: 0;
}
 
.cajaInicio h1 {
    margin-bottom: 1.5rem;
    font-size: 65px;
    margin: 40px;
}

.cajaInicio h2 {
    margin-bottom: 1.5rem;
    font-size: 40px;
    font-weight: 300;
    margin: 40px;
}
.cajaInicio p {
    margin: 40px;
}
.cajaInferior {
    display: flex;
    gap: 20px;
    margin: 40px;
}

.lateral {
    width: 25%;
    background: #E6D6F5;
    padding: 20px;
    border-radius: 20px;
    color: #333;
}

.nlateral {
    width: 75%;
    padding: 25px;
    text-align: justify;
}

.frase{
    background-color:rgb(233, 200, 247) ;
    text-align: center;
    padding: 10px 130px;
}

@media (max-width: 1024px) {
    .lateral {
        width: 30%;
        padding: 15px;
    }
    .nlateral {
        width: 70%;
        padding: 20px;
    }
    .frase {
        padding: 10px 80px;
    }
}

@media (max-width: 708px) {
    .cajaInferior {
        flex-direction: column;
        margin: 20px;
    }
    .lateral, .nlateral {
        width: 98%;
        padding: 10px;
    }
    .frase {
        padding: 10px 10px;
        font-size: 14px;
    }
}

/* F */
.footer {
    background-color: #61378d;
    color: white;
    padding: 40px 50px;
}
.par {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
}
.logo_M img {
    width: 120px;
}
.par1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
.par1 a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s ease;
}
.par1 a:hover {
    transform: translatey(3px);
    font-weight: 600;
}
.par2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}
.contacto{
    font-size: 16px;
    margin: 0;
}
.redes {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.red1 {
    background: rgb(245,245,245);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 0.3s ease;
}
.red1 img {
    width: 22px;
    height: 22px;
}
.red1:hover {
    transform: scale(1.1);
    background: white;
}
.final {
    text-align: center ;
    justify-content: center;
    font-size: 16px;
    margin: 15px 10px;
    border-top: 1px solid rgba(127, 126, 126, 0.5);
    padding-top: 10px;
}   

@media(max-width: 850px) {
    .par {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width: 1100px) and (min-width: 655px) {

    .cajaInicio {
        height: 18rem;
        padding: 0;
    }
    .cajaInicio h1 {
        margin: 0 25px 6px;
        line-height: 1.2;
        font-size: 55px;
    }
    .cajaInicio h2 {
        margin: 0 25px 8px;
        line-height: 35px;
        font-size: 30px;
    }
    .cajaInicio p {
        font-size: 16.5px;
        margin: 0 25px 8px;
        line-height: 1.3;
    }
    .cajaInicio img {
        height: 18rem;
        width: 80%;
    }
}
@media (max-width: 790px) {
    .cajaInicio {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 25px 0 0px;
        margin: 20px;
        gap: 10px;
    }
    .cajaInicio h2 {
        font-size: 26px;
        margin: 10px 0;
    }
    .cajaInicio p {
        font-size: 16px;
        margin: 10px 15px 0;
    }
    .cajaInicio img {
        width: 100%;
        height: auto;
    }
}